<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>WebMLN - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('download_static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('download_static', filename='css/style.css') }}">
    <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>  
    <style>
      /* DO NOT MOVE TO CSS FILE! */
      #container {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 5px;
        top: 0px;
        padding: 0;
        margin: 0;
        margin-left: -8px;
        background: none repeat scroll 0% 0% #ffffff;
      }
    </style>
    {% block head %}
    {% endblock %}
  </head>
  <body style="width: 100%; height: 100%; background-color: white; padding: 0px; margin: 0px">
    <div id="container">
      <div
              style="visibility: hidden; left: 0; bottom: 0; position: absolute; width: 300px; height: 100px; z-index: 1000;"><a href="{{ url_for('mln')}}"><img
              src="{{ url_for('download_static',
          filename='images/mln_logo.png') }}"></a></div>
    {% block content %}
      <div id="mln_container"></div>
    {% endblock  %}
    </div>
  </body>
</html>